:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Didot', serif;
    /* footer support */
    margin-bottom: 100px;
  }

  /* HEADER */

.header {
    padding: 30px 0;
  }
  
.title {
    text-align: center;
    font-size: 80px;
}



/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
.footer img {
    color: var(--primary-dark);
    width: 34px;
    height: 34px;
    transition: transform 0.3s ease-in-out;
}
  
.footer img:hover {
    transform: rotate(360deg) scale(1.2);
}