:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Didot', serif;
    /* footer support */
    margin-bottom: 100px;
  }

  /* HEADER */
.header {
    padding: 30px 0;
  }
  
.title {
    text-align: center;
    font-size: 80px;
}

/* MAIN */
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}


.settings {
 display: flex;
 flex-direction: column;
 gap: 30px;
}

#colorPicker {
    width: 100%;
}
.btn,
#colorPicker {
  transition: transform 0.1s ease-in-out;
}
.btn:hover,
#colorPicker:hover {
  transform: scale(1.05);
}

.btn {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
}
.btn:hover {
    background: var(--primary-dark);
    color: var(--secondary-light)
}
.btn.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    transform: scale(1.05);
  }



.grid-container {
    background-color: rgb(221, 32, 32);
    padding: 40px;
    border-radius: 15px;

}
.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 8px;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
.footer img {
    color: var(--primary-dark);
    width: 34px;
    height: 34px;
    transition: transform 0.3s ease-in-out;
}
  
.footer img:hover {
    transform: rotate(360deg) scale(1.2);
}

@media (max-width: 1200px) {
    .main-container {
      justify-content: center;
    }
  }

@media (max-width: 850px) {
    .main-container {
      gap: 50px;
    }
  
    .settings {
      width: 150px;
      gap: 16px;
    }
  
    /* .size-value {
      margin-bottom: -4px;
    } */
  
    .grid {
      width: 400px;
      height: 400px;
    }
  }

@media (max-width: 768px) {
    .title {
      font-size: 50px;
    }
  
    .main-container {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .grid {
      width: 300px;
      height: 300px;
    }
  }